.navBarContainer {
    height: 70px;
    width: 100%;
    background-color: rgb(42, 42, 42);
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.navBarContainer button {
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
}
